In [1]:
!pip install pandas sqlalchemy mysql-connector-python scikit-learn matplotlib seaborn --quiet
print("Libraries installed successfully!")

Libraries installed successfully!

In [2]:
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
connection = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    port="3306",
    password="millie-852",
    database="eco_packaging_db"
)

print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [4]:
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="millie-852",
    database="eco_packaging_db"
)

df = pd.read_sql("SELECT * FROM materials", conn)
df.head()

C:\Users\meeta upadhyay\AppData\Local\Temp\ipykernel_21228\248987573.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM materials", conn)

   id             material  weight  cost  co2_emission  durability  recyclable
0   1   Recycled Cardboard   44.55  3.95         0.841           7           0
1   2  Corn Starch Polymer   42.85  4.91         0.702           1           0
2   3   Recycled Cardboard   38.48  4.22         0.931           8           0
3   4  Recycled Paperboard   10.84  1.34         0.837           8           1
4   5  Recycled Paperboard   20.44  3.93         1.054           1           1

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("eco_packaging_500_rows.csv")
df.head()

              material  weight  cost  co2_emission  durability  recyclable
0   Recycled Cardboard   44.55  3.95         0.841           7           0
1  Corn Starch Polymer   42.85  4.91         0.702           1           0
2   Recycled Cardboard   38.48  4.22         0.931           8           0
3  Recycled Paperboard   10.84  1.34         0.837           8           1
4  Recycled Paperboard   20.44  3.93         1.054           1           1

In [6]:
# Schema Validation

expected_columns = {
    "material",
    "weight",
    "cost",
    "co2_emission",
    "recyclable",
    "durability"
}

assert expected_columns.issubset(df.columns), "Schema validation failed: Missing columns"

assert df["weight"].min() > 0, "Invalid weight values"
assert df["cost"].min() > 0, "Invalid cost values"
assert df["co2_emission"].min() > 0, "Invalid CO2 values"

assert df["recyclable"].isin([0, 1]).all(), "Invalid recyclable values"
assert df["durability"].between(1, 10).all(), "Invalid durability values"

print(" Schema validation passed")

âœ… Schema validation passed

In [7]:
query = "SELECT * FROM materials;"
df = pd.read_sql(query, connection)
df.head()

C:\Users\meeta upadhyay\AppData\Local\Temp\ipykernel_21228\242384238.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   id             material  weight  cost  co2_emission  durability  recyclable
0   1   Recycled Cardboard   44.55  3.95         0.841           7           0
1   2  Corn Starch Polymer   42.85  4.91         0.702           1           0
2   3   Recycled Cardboard   38.48  4.22         0.931           8           0
3   4  Recycled Paperboard   10.84  1.34         0.837           8           1
4   5  Recycled Paperboard   20.44  3.93         1.054           1           1

In [8]:
pd.read_sql("SHOW TABLES", connection)

C:\Users\meeta upadhyay\AppData\Local\Temp\ipykernel_21228\1107702933.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SHOW TABLES", connection)

  Tables_in_eco_packaging_db
0                  materials

In [9]:
print("Shape:", df.shape)
print("\nMissing values:\n", df.isnull().sum())
print("\nDuplicate rows:", df.duplicated().sum())
df.describe()

Shape: (500, 7)

Missing values:
 id              0
material        0
weight          0
cost            0
co2_emission    0
durability      0
recyclable      0
dtype: int64

Duplicate rows: 0

,id,weight,cost,co2_emission,durability,recyclable
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,32.025140,2.804140,0.797340,5.064000,0.478000
std,144.481833,16.291349,1.280525,0.406895,2.608738,0.500016
min,1.000000,5.070000,0.500000,0.055000,1.000000,0.000000
25%,125.750000,17.380000,1.762500,0.470500,3.000000,0.000000
50%,250.500000,32.455000,2.770000,0.796000,5.000000,0.000000
75%,375.250000,46.042500,3.922500,1.139750,7.000000,1.000000
max,500.000000,59.990000,4.990000,1.498000,9.000000,1.000000

In [10]:
print("Shape:", df.shape)

Shape: (500, 7)

In [11]:
print("\nMissing values:\n", df.isnull().sum())

Missing values:
 id              0
material        0
weight          0
cost            0
co2_emission    0
durability      0
recyclable      0
dtype: int64

In [12]:
print("\nDuplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [13]:
df.describe()

,id,weight,cost,co2_emission,durability,recyclable
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,32.025140,2.804140,0.797340,5.064000,0.478000
std,144.481833,16.291349,1.280525,0.406895,2.608738,0.500016
min,1.000000,5.070000,0.500000,0.055000,1.000000,0.000000
25%,125.750000,17.380000,1.762500,0.470500,3.000000,0.000000
50%,250.500000,32.455000,2.770000,0.796000,5.000000,0.000000
75%,375.250000,46.042500,3.922500,1.139750,7.000000,1.000000
max,500.000000,59.990000,4.990000,1.498000,9.000000,1.000000

In [14]:
df = df.drop_duplicates().reset_index(drop=True)

In [15]:
num_cols = df.select_dtypes(include='number').columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [16]:
df['cost'] = df['cost'].astype(str).str.replace(',','').astype(float)

In [17]:
df['recyclable'] = df['recyclable'].map({True:1, False:0}).fillna(df['recyclable'])
df['recyclable'] = df['recyclable'].astype(int)

In [18]:
df.to_csv("materials_cleaned.csv", index=False)

In [19]:
import numpy as np

numeric_cols = ["weight", "cost", "co2_emission", "durability"]

Q1 = df[numeric_cols].quantile(0.25)
Q3 = df[numeric_cols].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("Lower bounds:\n", lower_bound)
print("\nUpper bounds:\n", upper_bound)

outliers = ((df[numeric_cols] < lower_bound) | (df[numeric_cols] > upper_bound)).sum()
print("\nOutliers per column:")
print(outliers)

Lower bounds:
 weight         -25.613750
cost            -1.477500
co2_emission    -0.533375
durability      -3.000000
dtype: float64

Upper bounds:
 weight          89.036250
cost             7.162500
co2_emission     2.143625
durability      13.000000
dtype: float64

Outliers per column:
weight          0
cost            0
co2_emission    0
durability      0
dtype: int64

In [20]:

df_clean = df.copy()

df_clean[numeric_cols] = df[numeric_cols].clip(
    lower=lower_bound,
    upper=upper_bound,
    axis=1
)

# Check remaining outliers after clipping
outliers_after = (
    (df_clean[numeric_cols] < lower_bound) |
    (df_clean[numeric_cols] > upper_bound)
).sum()

print("Outliers after treatment:\n")
print(outliers_after)

Outliers after treatment:

weight          0
cost            0
co2_emission    0
durability      0
dtype: int64

In [21]:
# Fix: clip numeric columns using column-wise bounds (axis=1)
df_clean = df.copy()

# ensure lower_bound and upper_bound are Series indexed by numeric_cols
print("lower_bound index:", list(lower_bound.index))
print("numeric_cols:", list(numeric_cols))

# Clip per-column (axis=1 aligns Series index to columns)
df_clean[numeric_cols] = df_clean[numeric_cols].clip(lower=lower_bound, upper=upper_bound, axis=1)

# Verify
outliers_after = ((df_clean[numeric_cols] < lower_bound) | (df_clean[numeric_cols] > upper_bound)).sum()
print("Outliers after clipping:\n", outliers_after)

# Quick stats to see effect
display(df[numeric_cols].describe().T.assign(before_mean=lambda x: x['mean']))
display(df_clean[numeric_cols].describe().T.assign(after_mean=lambda x: x['mean']))

lower_bound index: ['weight', 'cost', 'co2_emission', 'durability']
numeric_cols: ['weight', 'cost', 'co2_emission', 'durability']
Outliers after clipping:
 weight          0
cost            0
co2_emission    0
durability      0
dtype: int64

,count,mean,std,min,25%,50%,75%,max,before_mean
weight,500.0,32.02514,16.291349,5.070,17.3800,32.455,46.04250,59.990,32.02514
cost,500.0,2.80414,1.280525,0.500,1.7625,2.770,3.92250,4.990,2.80414
co2_emission,500.0,0.79734,0.406895,0.055,0.4705,0.796,1.13975,1.498,0.79734
durability,500.0,5.06400,2.608738,1.000,3.0000,5.000,7.00000,9.000,5.06400

,count,mean,std,min,25%,50%,75%,max,after_mean
weight,500.0,32.02514,16.291349,5.070,17.3800,32.455,46.04250,59.990,32.02514
cost,500.0,2.80414,1.280525,0.500,1.7625,2.770,3.92250,4.990,2.80414
co2_emission,500.0,0.79734,0.406895,0.055,0.4705,0.796,1.13975,1.498,0.79734
durability,500.0,5.06400,2.608738,1.000,3.0000,5.000,7.00000,9.000,5.06400

In [22]:
# 1. CO2 Impact Index
df_clean['co2_impact_index'] = (
    df_clean['co2_emission'] / df_clean['co2_emission'].max()
)

# 2. Cost Efficiency Index
df_clean['cost_efficiency_index'] = (
    df_clean['durability'] / df_clean['cost']
)

df_clean['cost_efficiency_index'] = (
    df_clean['cost_efficiency_index'] - df_clean['cost_efficiency_index'].min()
) / (
    df_clean['cost_efficiency_index'].max() - df_clean['cost_efficiency_index'].min()
)

# 3. Sustainability Score
df_clean['sustainability_score'] = (
    0.4 * (1 - df_clean['co2_impact_index']) +
    0.3 * df_clean['recyclable'] +
    0.3 * (df_clean['durability'] / df_clean['durability'].max())
)

In [23]:
df_clean[['co2_impact_index',
          'cost_efficiency_index',
          'sustainability_score']].describe()

       co2_impact_index  cost_efficiency_index  sustainability_score
count        500.000000             500.000000            500.000000
mean           0.532270               0.138509              0.499292
std            0.271626               0.141640              0.205261
min            0.036716               0.000000              0.039742
25%            0.314085               0.048780              0.333400
50%            0.531375               0.100526              0.495906
75%            0.760848               0.172151              0.659713
max            1.000000               1.000000              0.985314

In [24]:
df_clean.to_csv("materials_milestone1_final.csv", index=False)